ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    font-family: Calibri ,Arial, Helvetica, sans-serif;
  }
  li {
      float: left;
     
  }
  li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  li a.active {
    background-color: #1a9e97;
    color: white;
  }
  li a:hover:not(.active){
      background-color: #111;
      color: white;
  }
  .centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .center{
      text-align: center;
      margin: auto;
      
  }
p {
  font-family: Calibri ,Arial, Helvetica, sans-serif;
}